<body class="text-center">
    <main class="form-signin">
      <form [formGroup]="loginForm">
        <img class="mb-4" src="https://www.operanews.com/uploadedImages/Opera_News_Content/Utilities/signin914.png" alt="" width="300" height="100">
        <h1 class="h3 mb-3 fw-normal">Lütfen Giriş Yapınız</h1>

        <div class="form-floating">
          <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">E-posta</label>
        </div>
        <div class="form-floating">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Parola</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" (click)="login()">Giriş Yap</button>
        <p class="mt-5 mb-3 text-muted">&copy; 1997–2021</p>

        <div class="form-group">
            <div> Hesabınız yok mu ? </div>
           <a href="register" >Kayıt Olmak için Tıklayınız</a>
        </div> 
      </form>
    </main> 
</body>