<table class="table"> 
    <thead>
        <tr>
            <th>Rental Id</th>
            <th>Brand Name</th>
            <th>User Information </th>
            <th>Rent Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tr *ngFor="let rentaldetail of rentaldetails">
        <td>{{rentaldetail.rentalId}}</td>
        <td>{{rentaldetail.brandName}}</td>
        <td>{{rentaldetail.customerName}}</td>
        <td>{{rentaldetail.rentDate}}</td>
        <td>{{rentaldetail.returnDate}}</td>
    </tr>
</table>